<section ng-controller="HomeController">
<div>
  <div class="header" ng-if="!authentication.user">
    <div class="header-logo">
      <img alt="Timebokz" src="modules/core/client/img/brand/timebokz_logo_512x512.png" />
    </div>
    <h1 class="header-brand">Timebokz</h1>
    <p class="header-copy">A new kind of todo list</p>
    <div class="login-buttons">
      <div class="button-primary" ui-sref="authentication.signup">Sign Up</div>
      <p>or</p>
      <div class="button-primary" ui-sref="authentication.signin">Sign In</div>
    </div>
  </div>
  <div ng-if="authentication.user" ng-controller="TboxesListController as vm">
    <section class="tbox-list">
      <div class="tbox-list-header">
        <h1>Your Timebokzes</h1>
      </div>
      <div class="alert-box" ng-if="vm.tboxes.$resolved && !vm.tboxes.length">
        No tboxes yet, why don't you <a ui-sref="tboxes.create">create one</a>?
      </div>
      <div class="list-group">
        <a ng-repeat="tbox in vm.tboxes" ui-sref="tboxes.view({ tboxId: tbox._id })" class="list-group-item">
          <small class="list-group-item-text">
            Posted on
            <span ng-bind="tbox.created | date:'mediumDate'"></span>
            by
            <span ng-if="tbox.user" ng-bind="tbox.user.displayName"></span>
            <span ng-if="!tbox.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="tbox.title"></h4>
          <p class="list-group-item-text" ng-bind="tbox.content"></p>
        </a>
      </div>
    </section>
  </div>
</div>
</section>
