<section ng-controller="HomeController">
<div class="header">
  <div class="header-logo">
    <img alt="Timebokz" src="modules/core/client/img/brand/timebokz_logo_512x512.png" />
  </div>
  <h1 class="header-brand">Timebokz</h1>
  <p class="header-copy">A new kind of todo list</p>
  <div class="login-buttons">
    <div class="button-primary" ui-sref="authentication.signup">Sign Up</div>
    <p>or</p>
    <div class="button-primary" ui-sref="authentication.signin">Sign In</div>
  </div>
</div>
</section>
