<section>
  <div class="page-header">
    <h1>{{vm.tbox._id ? 'Edit Timebokz' : 'New Timebokz'}}</h1>
  </div>
  <form name="vm.form.tboxForm" ng-submit="vm.save(vm.form.tboxForm.$valid)" novalidate>
    <div class="tbox-form">
      <div class="tbox-form-inputs">
        <div class="form-group" show-errors>
          <label class="control-label" for="category">category</label>
          <input name="category" type="text" ng-model="vm.tbox.category" id="category" class="form-control" placeholder="something like, 'Exercise' or 'Writing'" required>
          <div ng-messages="vm.form.tboxForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">category is required</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="size">number of cells (max 35)</label>
          <input name="size" type="number" ng-model="vm.tbox.size" id="size" class="form-control" min="1" max="35" value="vm.tbox.size" required>
          <div ng-messages="vm.form.tboxForm.count.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Must be between 1-35</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="count">duration/count</label>
          <input name="count" type="number" ng-model="vm.tbox.count" id="count" class="form-control" min="1" value="vm.tbox.count" required>
          <div ng-messages="vm.form.tboxForm.count.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Must be greater than 0!</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="unit">unit type</label>
          <input name="unit" type="text" ng-model="vm.tbox.unit" id="unit" class="form-control" placeholder="min, hr, step...." required>
          <div ng-messages="vm.form.tboxForm.unit.$error" role="alert">
            <p class="help-block error-text" ng-message="required">unit type is required</p>
          </div>
        </div>
      </div>
      <!-- END: tbox-form-inputs -->
      <!-- Tbox Preview Section -->
      <div class="tbox-form-preview">
        <div class="tbox-wrapper">
          <div class="tbox-header">
            <div ng-hide="vm.tbox.category" class="tbox-category">Category</div>
            <div ng-show="vm.tbox.category" class="tbox-category" ng-bind="vm.tbox.category"></div>
<!--             <div ng-hide="vm.tbox.count" class="tbox-count-temp">count</div> -->
            <div class="tbox-count" ng-bind="vm.tbox.count"></div>
            <div ng-hide="vm.tbox.unit" class="tbox-unit">unit</div>
            <div ng-show="vm.tbox.unit" class="tbox-unit" ng-bind="vm.tbox.unit"></div>
          </div>
          <div class="tbox-container">
            <div ng-repeat="i in vm.getNumber(vm.tbox.size) track by $index"
                 class="tbox-cell preview"
                 ng-click="vm.tboxClick(cell, tbox)"
                 ng-class="{'cell-done': cell.isDone}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: tbox-form -->
    <div class="tbox-form-button">
      <button type="submit" class="button-primary">{{vm.tbox._id ? 'Update' : 'Create'}}</button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </form>
</section>
