/* ================================= 
  List View Styles
==================================== */

.list-group-tbox {
  margin: 15px;
  padding: 25px 40px;
  text-align: center;
  border: 1px solid #aa0000;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.3);
  text-shadow: 2px 2px 4px #000;
  background: #ee0000;
  cursor: pointer;  
}
a.list-group-tbox:hover {
  text-decoration: none;
  background: #cc0000;
}
a.list-group-tbox:active {
  background: #aa0000;
}
.list-group-tbox-heading, .list-group-tbox-text {
  /*background-color: #dd0000;*/
  color: #eee;
}
.list-group-tbox-heading {
  font-size: 3em;
}
/* Flexbox Styles */
.list-tboxes {
  display: flex;
  flex-direction: column;
}

/* ================================= 
  Form Styles
==================================== */

.form-control {
  
}
.tbox-form-inputs, .tbox-form-preview {
  margin: 15px 30px;
}
.tbox-form-button {
  margin: 0 15px;
}

/* Flexbox Styles */
.tbox-form,
.tbox-form-inputs,
.tbox-form-preview,
.tbox-form-button {
  display: flex;
  flex-direction: column;
}
.list-group-tbox {
  /*align-self: center;*/
}
.tbox-form-button button {
  margin-left: auto;
}
.tbox-form-inputs, .tbox-form-preview {
  flex: 1;
}

/* ================================= 
  Tbox Styles
==================================== */

.tbox-wrapper {
  background-color: #888;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 6px rgba(0,0,0,0.3);
}
.tbox-category {
  padding: 15px;
}
.tbox-count, .tbox-unit {
  padding: 15px 15px 15px 0;
}
.tbox-category {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000;
}
.tbox-count, .tbox-unit {
  font-size: 1.6em;
  text-shadow: 2px 2px 4px #000;
}
.tbox-container {
  background-color: white;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  color: #333;
  box-shadow: inset 2px 2px 20px 1px rgba(0,0,0,0.3);
}
.tbox-cell {
  background-color: blue;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  height: 50px;
  box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.3);
}
.tbox-cell.preview {
  background-color: #ee0000;
}
/* Flexbox Styles */
.tbox-wrapper {
  display: flex;
  flex-direction: column;
}
.tbox-header,
.tbox-container {
  display: flex;
}
.tbox-header {
  justify-content: flex-end;
}
.tbox-category {
  margin-right: auto;
}
.tbox-category, .tbox-count, .tbox-unit {
  align-self: flex-end;
}
.tbox-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.tbox-cell {
  flex: 1 0 50px;
}

/* ================================= 
  Media Query: >= 769px
==================================== */
@media (min-width: 769px) {
  
  .tbox-form, .tbox-form-button {
    flex-direction: row;
    justify-content: space-around;
  }
  .tbox-form-inputs, .tbox-form-preview {
    /*flex: 1;*/
    /*align-self: flex-start;*/
    /*max-width: 38%;*/
  }
  .tbox-form-button {
    /*flex-direction: column-reverse;*/
  }

}
